<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<head>
  <!--<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@300&display=swap" rel="stylesheet">

FOnts que parecen de educacióna
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>

-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;1,200;1,500&family=Vidaloka&display=swap" rel="stylesheet">
<!-- end custom head snippets -->
