---
header:
  overlay_color: "#000"
  overlay_image: /assets/images/teaser_wallpaper.jpg
  # actions:
  #  - label: "Learn More..."
  #    url: "/about/"
title: "Principia"
# excerpt: >
#   Un proyecto personal para compartir de ciencia, código, pensamientos y la aprendanza con l@s personas de nuestro planeta.
layout: splash
author_profile: true
classes: wide
entries_layout: grid
recent_posts: 'Publicaciones Recientes'

intro: 
  - excerpt: 'Un proyecto personal para compartir de ciencia, código, pensamientos y la aprendanza con l@s personas de nuestro planeta.'

intro2: 
  - excerpt: 'Un proyecto personal para compartir de ciencia, código, pensamientos y la aprendanza con l@s personas de nuestro planeta.'
feature_row:
  - image_path: /assets/images/learning_analytics_index.png
    alt: "Analítica"
    title: "Learning Analytics"
    excerpt: "Todo acerca de análitica de aprendizaje y las herramientas que he podido crear para la educación actualmente"
    url: "https://daniavm.github.io/learninganalytics/"
    btn_class: "btn--primary"
    btn_label: "Ver más"
  - image_path: /assets/images/sagas_index.png
    alt: "Sagas"
    title: "Sagas"
    excerpt: "Publicaciones que engloban temas específicos y representan mis creaciones técnicas y literarias más relevantes para poder seguir"
    url: "https://daniavm.github.io/sagas/"
    btn_class: "btn--primary"
    btn_label: "Ver más"
  - image_path: /assets/images/books_index.png
    alt: "Libros"
    title: "Reseñas de Libros"
    excerpt: "Reseñas e impresiones de los libros que he podido abordar desde que creé este espacio en la web"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Ver más"  
---
<h5 style="text-align: center;">En algún cronopunto debemos empezar ...</h5>
<div style="font-size: 2em;">
  {% include feature_row id="intro" type="center" %}
</div>

<div style="text-align: center;">
  {% include feature_row%}
</div>

{% include feature_row id="intro2" type="center" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: 'Publicaciones Recientes' }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}