---
header:
  overlay_color: "#000"
  overlay_image: /assets/images/teaser_wallpaper.jpg
  # actions:
  #  - label: "Learn More..."
  #    url: "/about/"
# title: "En algún cronopunto debemos empezar ..."
# excerpt: >
#   Un proyecto personal para compartir de ciencia, código, pensamientos y la aprendanza con l@s personas de nuestro planeta.
layout: splash
author_profile: true
classes: wide
entries_layout: grid
feature_row:
  - image_path: /assets/images/learning_analytics_index.png
    alt: "Analítica"
    title: "Learning Analytics"
    excerpt: "Todo acerca de análitica de aprendizaje y las herramientas que he podido crear para la educación actualmente"
    url: "https://daniavm.github.io/learninganalytics/"
    btn_class: "btn--primary"
    btn_label: "Ver más"
  - image_path: /assets/images/mm-responsive-feature.png
    alt: "fully responsive"
    title: "Sagas"
    excerpt: "Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/mm-free-feature.png
    alt: "100% free"
    title: "Libros"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn more"  
---
<h3 style="text-align: center;">En algún cronopunto debemos empezar …</h3>
<p style="text-align: center;"> Un proyecto personal para compartir de ciencia, código, pensamientos y la aprendanza con l@s personas de nuestro planeta.</p>
<hr style="width:61%;text-align:center;margin-left:0">
{% include feature_row %}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Publicaciones Recientes" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}